@import "tailwindcss";

@theme {
    --color-void-black: #050505;
    --color-off-white: #F0F0F0;
    --color-mint-cream: #D4F5D1;
    --color-electric-blue: #0000AA;
    --font-spectral: 'Spectral', serif;
    --font-jetbrains: 'JetBrains Mono', monospace;
}

@layer base {
    html {
        @apply bg-void-black text-off-white;
    }

    body {
        @apply font-jetbrains antialiased;
    }
}