@import "tailwindcss";

@theme {
    --color-void-black: #050505;
    --color-off-white: #F0F0F0;
    --font-fraunces: 'Fraunces', serif;
    --font-manrope: 'Manrope', sans-serif;
}

@layer base {
    html {
        @apply bg-void-black text-off-white;
    }

    body {
        @apply font-manrope antialiased;
    }
}